# system files
.DS_Store

# built
diff_rass
diff_ras/build/
diff_ras/native_rasterizer.cpython-38-x86_64-linux-gnu.so
diff_ras/rasterizer.egg-info/PKG-INFO

models/ops

# pycache
__pycache__
.pyc

# data
data/
data2/
s3d_floorplan_eval/montefloor_data
*.html

# test script
slurm_scripts*

# outputs
output
output*
wandb
wandb_keys
watch_folder
*.json
*.png
*.csv
*.log
*.svg
*.zip
